<html>
  <head>
    <title>Chip Lab Live Stream</title>
    <link rel="stylesheet" href='../static/style.css'/>
  </head>
  <body>
    <h1 style="font-family:'Comic Sans MS'"> Chip Lab Live Stream Pan & Tilt Control </h1>
	<hr>
	<p style="font-family:'Comic Sans MS'"> PAN Angle:  <a href="/pan/+"class="button">-</a> <a href="/pan/-"class="button">+</a> </p>
	<p style="font-family:'Comic Sans MS'"> TILT Angle: <a href="/tilt/+"class="button">-</a> <a href="/tilt/-"class="button">+</a> </p> 
	<hr>
	<p style="font-family:'Comic Sans MS'"> @2018 Developed by NickyF0str</p>
  </body>
</html>
